body {
  background-color: rgb(237, 236, 235);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 3fr 5fr 5fr 1fr;
  grid-template-rows: 100px;
  align-content: center;
  color: white;
  background-color: rgb(43 184 243);
  border-radius: 5px;
  grid-gap: 20px;
}

.header .nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  grid-gap: 5px;
}

.nav li {
  padding: 5px;
  box-shadow: 1px 0.5px 2px rgb(97, 74, 231);
  list-style: none;
}

.nav a {
  border: none;
  color: rgb(250, 248, 248);
  padding: 10px;
  text-decoration: none;
}

.nav li:hover {
  background-color: rgb(68, 68, 121);
}

.header-text {
  align-self: center;
}

.header-text > h5 {
  border-radius: 100%;

  box-shadow: 1px 1px 1px 5px rgb(246, 246, 247);
  text-align: center;
  padding: 0.5em;
  color: #fefbfb;
  grid-template-columns: 1fr;
  grid-template-rows: 10px 20px;
}

.search-side {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 30px;
  padding: 10px;
}

#search {
  font-size: small;
  padding: 5px;
  width: 80%;
  color: rgb(18, 6, 6);
  border: none;
  border-radius: 5px;
}
.cart-icon {
  align-self: center;
  position: relative;
}
.cart-icon label {
  color: rgb(171, 19, 19);
  position: absolute;
  top: -16px;
  left: 9px;
  padding: 1px;
  font-family: sans-serif;
}
@media screen and (max-width: 800px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px 30px 60px;
    color: white;
    background-color: rgb(43 184 243);
    border-radius: 5px;
    grid-gap: 10px;
    justify-items: center;
  }
  .header-text {
    width: 90%;
  }
  .search-side label {
    text-align: center;
  }
  #search {
    width: 100%;
  }
  .cart-icon {
    justify-self: end;
    align-self: start;
    margin-right: 30px;
    margin-top: 0px;
  }
}

.row {
  margin-top: 100px;
}

.cards {
  border: 3px solid rgb(18, 18, 15);
  float: left;
  margin: 10px;
  width: 15rem;
  height: 30rem;
}
.card-img-top {
  background-color: #edf0f3;
  padding: 5px;
  height: 220px;
}

.cards:hover {
  .card-text {
    display: block;
  }
  box-shadow: 1px 1px 7px teal;
}

.card-body {
  background-color: hwb(239 42% 15%);
}
.card-text {
  display: none;
}
.rightside {
  float: right;
}

.cart-title {
  padding: 10px;
  color: white;
  font-size: large;
  background-color: rgb(43 184 243);
  border-radius: 4px;
}

.quantity-input {
  padding-bottom: 5px;
  width: 40px;
}

.footer {
  color: white;
  background-color: rgb(45, 41, 41);
  padding: 10px;
}

.footer > span {
  margin: 10px;
}
